@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/IBMPlexSans.ttf');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/IBMPlexSans-Italic.ttf');
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

main {
  margin: 50px auto !important;
  width: fit-content;
}

canvas {
  height: 250px;
  border-radius: 4px;
}

section {
  display: flex;
  gap: 50px;
}

header {
  display: flex;
  align-items: center;
  gap: 30px;
}

header h3 {
  display: inline;
  margin: 0;
}

header img {
  height: 75px;
  margin-inline: -30px;
}

header .alert {
  display: none;
}

header.dcnn img {
  filter: grayscale(100%);
}

header.dcnn .alert {
  display: flex;
  gap: 20px;
}

header.dcnn .alert .message {
  color: red;
}

h3 {
  margin-top: 0;
}

#info {
  display: flex;
  justify-content: space-between;
}

#fps {
  font-variant-numeric: tabular-nums;
}
