canvas {
  background: #000000;
}

header {
  display: flex;
  align-items: center;
  gap: 25px;
}

header img {
  height: 100px;
  margin-inline: -30px;
}

#fps {
  font-variant-numeric: tabular-nums;
}

header .alert {
  display: none;
}

header.dcnn img {
  filter: grayscale(100%);
}

header.dcnn .alert {
  display: block;
}

header.dcnn .alert.message {
  color: red;
}

.views, #settings {
  display: flex;
  gap: 50px;
}

#detections {
  font-family: Menlo, monospace;
}
