@font-face {
  font-family: Cosm;
  src: url('/Cosm.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Cosm', 'Helvetica Neue', sans-serif;
  font-size: 1.05em;
}

main {
  margin: 50px auto !important;
}

section {
  display: flex;
  gap: 50px;
}

header {
  display: flex;
  align-items: center;
  gap: 30px;
}

header h3 {
  display: inline;
  margin: 0;
}

header img {
  height: 75px;
  margin-inline: -30px;
}

header .alert {
  display: none;
}

header.dcnn img {
  filter: grayscale(100%);
}

header.dcnn .alert {
  display: flex;
  gap: 20px;
}

header.dcnn .alert .message {
  color: red;
}

h3 {
  margin-top: 0;
}

#fps {
  display: inline-block;
  width: 54.45px;
}
